<div class = "row">
  <div class = "small-12 columns small-centered">
    <% if !user_signed_in? %>
      <p>You are not currently signed in.</p>

      <p><a href="/sign_in">Click here to sign in with your Ravelry account</a></p>

    <% else %>
      <p><a href="/sign_out">Sign out</a></p>
    <% end %>
  </div>
</div>
